@if (isSuccess()) {
  <app-toast />
}
<form
  class="p-300 md:p-500 w-form-mobile flex flex-col rounded-lg bg-white text-sm md:w-[690px] xl:w-[736px]"
  [formGroup]="fg"
  (ngSubmit)="onSubmit()"
>
  <h1 class="text-heading">Contact Us</h1>

  <div class="gap-300 md:gap-200 mt-400 flex flex-col md:flex-row">
    <!-- firstName -->
    <div class="gap-100 flex flex-col md:flex-1">
      <label for="f-first-name">First Name<app-star /></label>
      <input
        class="c-text-field"
        [class.!border-red]="hasVisibleErrors(fg.controls.firstName)"
        type="text"
        id="f-first-name"
        formControlName="firstName"
        autocomplete="given-name"
      />
      @if (hasVisibleErrors(fg.controls.firstName, "required")) {
        <app-validation-message />
      }
    </div>

    <!-- lastName -->
    <div class="gap-100 flex flex-col md:flex-1">
      <label for="f-last-name">Last Name<app-star /></label>
      <input
        class="c-text-field"
        [class.!border-red]="hasVisibleErrors(fg.controls.lastName)"
        type="text"
        id="f-last-name"
        formControlName="lastName"
        autocomplete="family-name"
      />
      @if (hasVisibleErrors(fg.controls.lastName, "required")) {
        <app-validation-message />
      }
    </div>
  </div>

  <!-- email -->
  <div class="gap-100 mt-300 flex flex-col">
    <label for="f-email">Email<app-star /></label>
    <input
      class="c-text-field"
      [class.!border-red]="hasVisibleErrors(fg.controls.email)"
      type="email"
      id="f-email"
      formControlName="email"
      autocomplete="email"
    />
    @if (hasVisibleErrors(fg.controls.email, "required")) {
      <app-validation-message />
    }
    @if (hasVisibleErrors(fg.controls.email, "email")) {
      <app-validation-message content="Please enter a valid email address" />
    }
  </div>

  <!-- query -->
  <div class="my-300 gap-200 flex flex-col">
    <div>Query Type<app-star /></div>

    <div class="gap-200 flex flex-col md:flex-row">
      @for (
        queryType of ["General Enquiry", "Support Request"];
        track i;
        let i = $index
      ) {
        <div
          class="py-150 px-300 cursor-pointer rounded border border-gray-500 bg-white transition-colors has-[:checked]:bg-green-200 hover:has-[:checked]:bg-white md:flex-1 [&:is(:hover,:has(:checked,:focus))]:border-green-600"
          [class.!border-red]="hasVisibleErrors(fg.controls.query)"
          (click)="radio.click(); radio.focus()"
        >
          <input
            class="mr-150"
            type="radio"
            id="f-query-type-{{ i }}"
            formControlName="query"
            [value]="i"
            #radio
          />
          <label
            class="pointer-events-none text-base"
            for="f-query-type-{{ i }}"
            >{{ queryType }}</label
          >
        </div>
      }
    </div>
    @if (hasVisibleErrors(fg.controls.query, "required")) {
      <app-validation-message content="Please select a query type" />
    }
  </div>

  <!-- message -->
  <div class="gap-100 flex flex-col">
    <label for="f-message">Message<app-star /></label>
    <textarea
      class="c-text-field h-[240px] resize-none md:h-[132px] xl:h-[105px]"
      [class.!border-red]="hasVisibleErrors(fg.controls.message)"
      id="f-message"
      formControlName="message"
      autocomplete="off"
    ></textarea>
    @if (hasVisibleErrors(fg.controls.message, "required")) {
      <app-validation-message />
    }
  </div>

  <!-- consent -->
  <div class="my-500">
    <div class="gap-200 flex">
      <input type="checkbox" id="f-consent" formControlName="consent" />
      <label for="f-consent"
        >I consent to being contacted by the team<app-star
      /></label>
    </div>
    @if (hasVisibleErrors(fg.controls.consent, "required")) {
      <app-validation-message
        class="mt-100"
        content="To submit this form, please consent to being contacted"
      />
    }
  </div>

  <button
    class="text-base-bold py-200 hocus-visible:bg-[#063F35] disabled:hover:bg-red rounded bg-green-600 text-white -outline-offset-4 transition-[background-color] disabled:cursor-not-allowed"
    type="submit"
    [disabled]="isSubmissionDisabled()"
  >
    Submit
  </button>
</form>
