@if (isSuccess()) {
  <app-toast />
}
<form
  class="flex flex-col bg-white rounded-lg p-300 md:p-500"
  [formGroup]="formControls"
  (ngSubmit)="onSubmit()"
>
  <h1>Contact Us</h1>

  <div>
    <!-- firstName -->
    <div>
      <label for="f-first-name">First Name</label>
      <input
        type="text"
        id="f-first-name"
        formControlName="firstName"
        autocomplete="given-name"
      />
      @if (hasRequiredError(formControls.controls.firstName)) {
        <div>{{ REQUIRED_ERROR_MSG }}</div>
      }
    </div>

    <!-- lastName -->
    <div>
      <label for="f-last-name">Last Name</label>
      <input
        type="text"
        id="f-last-name"
        formControlName="lastName"
        autocomplete="family-name"
      />
      @if (hasRequiredError(formControls.controls.lastName)) {
        <div>{{ REQUIRED_ERROR_MSG }}</div>
      }
    </div>
  </div>

  <!-- email -->
  <div>
    <label for="f-email">Email</label>
    <input
      type="email"
      id="f-email"
      formControlName="email"
      autocomplete="email"
    />
    @if (hasRequiredError(formControls.controls.email)) {
      <div>{{ REQUIRED_ERROR_MSG }}</div>
    }
    @if (hasEmailError()) {
      <div>Please enter a valid email address</div>
    }
  </div>

  <!-- query -->
  <fieldset>
    <legend>Query Type</legend>

    <div>
      <div>
        <label for="f-query-type-0">General Enquiry</label>
        <input
          type="radio"
          id="f-query-type-0"
          formControlName="query"
          value="0"
        />
      </div>

      <div>
        <label for="f-query-type-1">Support Request</label>
        <input
          type="radio"
          id="f-query-type-1"
          formControlName="query"
          value="1"
        />
      </div>
    </div>
    @if (hasRequiredError(formControls.controls.query)) {
      <div>Please select a query type</div>
    }
  </fieldset>

  <!-- message -->
  <div>
    <label for="f-message">Message</label>
    <textarea
      id="f-message"
      formControlName="message"
      autocomplete="off"
    ></textarea>
    @if (hasRequiredError(formControls.controls.message)) {
      <div>{{ REQUIRED_ERROR_MSG }}</div>
    }
  </div>

  <!-- consent -->
  <div>
    <label for="f-consent">I consent to being contacted by the team</label>
    <input type="checkbox" id="f-consent" formControlName="consent" />
    @if (hasRequiredError(formControls.controls.consent)) {
      <div>To submit this form, please consent to being contacted</div>
    }
  </div>

  <button type="submit">Submit</button>
</form>
